extends ../layout

block content
  - var usernameHasError = _.find(errors, { field: 'username' })
  - var passwordHasError = _.find(errors, { field: 'password' })
  .row
    .col-md-6.col-md-offset-3
      h1 Login
      hr
      form#login.form-horizontal
        fieldset
          .form-group.has-feedback(class=usernameHasError ? 'has-error' : '')
            label.col-lg-2.control-label(for='username') Username
            .col-md-10
              input#username.form-control(
                autofocus name="username" type='text' placeholder='Username' value=form.username
              )
              span#username-feedback.glyphicon.form-control-feedback
              if usernameHasError
                span#username-server-error.help-block= usernameHasError.message
          .form-group.has-feedback(class=passwordHasError ? 'has-error' : '')
            label.col-lg-2.control-label(for='password') Password
            .col-md-10
              input#password.form-control(
                name="password" type='password' placeholder='Password'
              )
              span#password-feedback.glyphicon.form-control-feedback
              if passwordHasError
                span#password-server-error.help-block= passwordHasError.message
          .form-group
            .col-md-10.col-lg-offset-2
              button.btn.btn-success(type='submit') Login
